main.main 
	.wrapper
		section.mainVisual#TOP
			div(class="mainVisual_inner js-mainVisual_inner")
				.mainVisual_word 
					p(class="wow animate__animated animate__fadeInLeft")
						| HAVE A RELAXING
						br
						|	TRAVEL MOMENT.
						span(class="wow animate__animated animate__fadeInLeft") 旅の途中に、心がほどける時間を。
				.mainVisual_concept.js-mainVisual_concept
					h1(class="wow animate__animated animate__fadeIn")
						| 静かに、旅をする。
						span(class="wow animate__animated animate__fadeIn") JAPAN TRAVEL CONCEPT
					p(class="ja wow animate__animated animate__fadeIn") 
						| 日本を旅していると、
						br
						| 何もしない時間の心地よさに気づく。
						br
						| 人の流れから少し離れて、
						br
						| 風の音や、街の気配に耳を澄ます。
						br
						| 忙しさを手放し、
						br
						| 自分の呼吸を取り戻すようなひととき。
						br
						| この旅は、
						br
						| 観光地を巡るためだけのものじゃない。
						br
						| 心に余白をつくる、日本の旅。
					a(class="readmore readmore-left"  href="#STORY ") ABOUT US

		section.topics#RELEASE
			.inner
				h2(class="heading heading-2") News Release
			//-- Swiper 容器
			.swiper.topicsSwiper
				ul(class="topicsList swiper-wrapper")
					li.swiper-slide
						a(href='#')
							figure.topicsList_image
								img(src='https://static.gltjp.com/glt/data/article/21000/20468/20231129_044533_91447e36_w1920.webp' alt='')
							.topicsList_number
								time(datetime='2026-2-10') 2026.2.10
								p 煌めくイルミネーションで冬の寒さを吹き飛ばす
							p.topicsList_description 東京・冬の観光ガイド
					li.swiper-slide
						a(href='#')
							figure.topicsList_image
								img(src='https://d1grca2t3zpuug.cloudfront.net/2024/12/676389b405662-870x500.webp' alt='')
							.topicsList_number
								time(datetime='2026-2-14') 2026.2.14
								p 初詣（新年の参拝）
							p.topicsList_description 1月の東京でおすすめの観光スポットとイベント
					li.swiper-slide
						a(href='#')
							figure.topicsList_image
								img(src='https://www.shibuya-scramble-square.com.t.apy.hp.transer.com/sky/images/share_image.png' alt='')
							.topicsList_number
								time(datetime='2026-2-10') 2026.2.16
								p 東京の街並みを一望できる展望施設
							p.topicsList_description SHIBUYA SKY（渋谷スカイ）
					li.swiper-slide
						a(href='#')
							figure.topicsList_image
								img(src='https://static.gltjp.com/glt/data/article/21000/20468/20231129_044533_91447e36_w1920.webp' alt='')
							.topicsList_number
								time(datetime='2026-2-10') 2026.2.10
								p 煌めくイルミネーションで冬の寒さを吹き飛ばす
							p.topicsList_description 東京・冬の観光ガイド
					li.swiper-slide
						a(href='#')
							figure.topicsList_image
								img(src='https://d1grca2t3zpuug.cloudfront.net/2024/12/676389b405662-870x500.webp' alt='')
							.topicsList_number
								time(datetime='2026-2-14') 2026.2.14
								p 初詣（新年の参拝）
							p.topicsList_description 1月の東京でおすすめの観光スポットとイベント
					li.swiper-slide
						a(href='#')
							figure.topicsList_image
								img(src='https://www.shibuya-scramble-square.com.t.apy.hp.transer.com/sky/images/share_image.png' alt='')
							.topicsList_number
								time(datetime='2026-2-10') 2026.2.16
								p 東京の街並みを一望できる展望施設
							p.topicsList_description SHIBUYA SKY（渋谷スカイ）
					li.swiper-slide
						a(href='#')
							figure.topicsList_image
								img(src='https://static.gltjp.com/glt/data/article/21000/20468/20231129_044533_91447e36_w1920.webp' alt='')
							.topicsList_number
								time(datetime='2026-2-10') 2026.2.10
								p 煌めくイルミネーションで冬の寒さを吹き飛ばす
							p.topicsList_description 東京・冬の観光ガイド
					li.swiper-slide
						a(href='#')
							figure.topicsList_image
								img(src='https://d1grca2t3zpuug.cloudfront.net/2024/12/676389b405662-870x500.webp' alt='')
							.topicsList_number
								time(datetime='2026-2-14') 2026.2.14
								p 初詣（新年の参拝）
							p.topicsList_description 1月の東京でおすすめの観光スポットとイベント
					li.swiper-slide
						a(href='#')
							figure.topicsList_image
								img(src='https://www.shibuya-scramble-square.com.t.apy.hp.transer.com/sky/images/share_image.png' alt='')
							.topicsList_number
								time(datetime='2026-2-10') 2026.2.16
								p 東京の街並みを一望できる展望施設
							p.topicsList_description SHIBUYA SKY（渋谷スカイ）
					
				//-- .swiper-button-prev
				//-- .swiper-button-next
		
		section.story#STORY 
			.story-container
				.word-group
					.tit
						h2(class="heading heading-2") 旅とは、
						h2(class="heading heading-2") もうひとつの「日常」と心を通わせること。
					p 東京の真の美しさは、スクランブル交差点の喧騒や、ランドマークを巡るだけの観光にあるのではありません。
					p それは、銀座の裏路地に佇む名もなき名店の檜の香り、下町の工房から聞こえる職人の小気味よい音、
					p そして大都会の静寂に溶け込む古き良き日本の残像の中に息づいています。
					p 私たちは**「追雪（ツイスエ）プロフェッショナルチーム」です。
					p 雪の名を冠していますが、この大地への愛は四季を問いません。
					p 私たちは単なるガイドではなく
					p 日本をより深く知るための「文化の翻訳者」**でありたいと考えています。

				.photo-group
					figure(class="gearList_image")
						img(src="/images/story-1.webp", alt="story")
					figure(class="gearList_image")
						img(src="/images/story-2.webp", alt="story")
					figure(class="gearList_image")
						img(src="/images/story-3.webp", alt="story")

		section.placevedio.hero#hero
			.heroMedia
				video.heroVideo(
					autoplay
					muted
					loop
					playsinline
					preload="metadata"
					poster="https://www.gotokyo.org/tc/story/guide/spring/images/45_0126_3.jpg"
				)
					//- source(src="media/video.mp4" type="video/mp4")
					source(src="https://s17.aconvert.com/convert/p3r68-cdx67/82pdl-ztg63.webm" type="video/mp4")

			//-- 遮罩(讓字更清楚) 
			.overlay
			.word-group#heroText
				.tit
					h2(class="heading heading-2") 日本は、
					| 静かに語りかけてくる国です。
				p 急がず、飾らず、
				p ただ、そこに在るものを大切にする。
				p 私たちは、
				p 写真に残る旅ではなく、
				p 記憶に残る日本へご案内します。


		section.festival#FESTIVAL
			.festivalBg(aria-hidden="true")
				.festivalBg_img
			.wrap
				//- h2(class="heading heading-2") 祭りおすすめ
				.tabBlock-box
					.row.g-0
						//-- 選單
						.col-md-3
							ul.nav.nav-pills.flex-column.tabBlock_nav(role="tablist")
								li.nav-item
									a.nav-link.active(
										data-bs-toggle="pill"
										href="#tab-1"
										role="tab"
										aria-controls="tab-1"
										aria-selected="true"
										data-bg="/251231_jpTravel/images/tab3.webp"
									) 至福の瞬間：山と湖が織りなす永遠の対話
								li.nav-item
									a.nav-link(
										data-bs-toggle="pill"
										href="#tab-2"
										role="tab"
										aria-controls="tab-2"
										aria-selected="false"
										data-bg="/251231_jpTravel/images/tab2.webp"
									) 光の東京：煌めく街を抜ける夢幻の夜
								li.nav-item
									a.nav-link(
										data-bs-toggle="pill"
										href="#tab-3"
										role="tab"
										aria-controls="tab-3"
										aria-selected="false"
										data-bg="/251231_jpTravel/images/tab1.webp"
									) 江戸の余韻：桜舞う息吹の中をゆく
								li.nav-item
									a.nav-link(
										data-bs-toggle="pill"
										href="#tab-4"
										role="tab"
										aria-controls="tab-4"
										aria-selected="false"
										data-bg="/251231_jpTravel/images/tab4.webp"
									) 幻夢：お台場で出逢うモダンな江戸の色彩

						//--  內容
						.col-md-9
							.tab-content.content
								.tab-pane.fade.show.active#tab-1.bg-tab1(role="tabpanel")
									.panel
										.desc
											ol
												li 朝靄に包まれた河口湖の「逆さ富士」から、隅田川を彩る桜並木とスカイツリーの共演まで。
												li 日本の風景には、一瞬しか出会えない奇跡のような美しさが潜んでいます。
												li 私たちは、単に絶景へ案内するのではなく、その背景にある風土や季節の移ろいという物語を皆様へお届けします。

								//- tab 2
								.tab-pane.fade#tab-2.bg-tab2(role="tabpanel")
									.panel
										.desc
											ol
												li 宝石のように散りばめられた光の海、そして水槽の中に広がる龍宮城のような非日常。
												li 東京の旅は、驚きに満ちた五感の旅でもあります。
												li 地図をなぞるだけの旅はもう終わり。

								//- tab 3
								.tab-pane.fade#tab-3.bg-tab3(role="tabpanel")
									.panel
										.desc
											ol
												li 桜雨の中で出逢う、江戸の粋と未来の交差。
												li 屋形船に揺られ、きらめく隅田川をゆく。両岸に舞う雪のような桜と、現代の奇跡・スカイツリーが織りなす共演。
												li それは東京が最も美しく輝く季節。古き良き伝統と最先端のテクノロジーが、最も完璧な形で巡り合う瞬間です。

								//- tab 4
								.tab-pane.fade#tab-4.bg-tab4(role="tabpanel")
									.panel
										.desc
											ol
												li お台場の喧騒を抜け、たどり着いたのは、光と影が織りなす究極の和の空間。
												li 金魚が舞い、提灯が照らす「GA☆KYO」は、ただの水族館ではありません。
												li それは、現代の感性で再解釈された日本の伝統美。

		footer.footer#FOOTER
			.inner
				.footer_flex
					.footer_logo
						a(href='#')
							img(src='images/logo-wh.svg' alt='Tokyo travel')
						p.info__address
							| 〒503-0000
							br
							| 岐阜県不破郡関ヶ原町0000
							br
							| 株式会社OOO製作所内
					ul.footer_nav
						li
							a(href="#TOP") TOP
						li
							a(href="#RELEASE") RELEASE
						li
							a(href="#STORY") ABOUT
						li
							a(href="#hero") STORY
						li
							a(href="#FESTIVAL") FESTIVAL

				.footer_flex.main_sns
					a(href="#" target="_blank" class="sns_btn")
						img(src="https://sekigaharaningenmura.jp/images/common/icon_ig_wh.svg" width="22" height="22" alt="Instagram")
					a(href="#" target="_blank" class="sns_btn")
						img(src="https://sekigaharaningenmura.jp/images/common/icon_yt_wh.svg" width="22" height="22" alt="YouTube")
				.footer_flex
					p.footer_copyright &copy;&#xFE0E; 2026 TokyoTravel ALL RIGHTS RESERVED.
					//- a.returnTop.is-pc(href='#')
					//- 	span.material-symbols-outlined straight


